# API Configuration
VITE_API_HOST=localhost
VITE_API_PORT=4000
VITE_API_PROTOCOL=http

# PeerJS Configuration
VITE_PEER_HOST=localhost
VITE_PEER_PORT=9000
VITE_PEER_PROTOCOL=http
VITE_PEER_PATH=/peerjs