# Server Configuration
PORT=4000

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=password
DB_NAME=gamehub

# PeerJS Server Configuration
PEER_PORT=9000
PEER_PATH=/peerjs
PEER_HOST=localhost
PEER_DEBUG=0
PEER_ALLOW_DISCOVERY=true